/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(194, 197, 201);
}

h1 {
    font-size: 1.5rem;
    color: rgb(57, 116, 204);
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 500px;
}

header, footer, footer a {
    text-align: center;
    background-color: rgb(51, 23, 23);
    color: rgba(245, 245, 245, 0.658);
}

header img {
    width: 25;
    height: auto;
    float: right;
}

footer {
    font-size: 1.0rem;
}