/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(171, 182, 196);
}

h1 {
    font-size: 1.5rem;
    color: rgba(245, 245, 245, 0.658);
}

h2 {
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 300px;
}

header, footer, footer a {
    text-align: center;
    background-color: rgb(58, 13, 13);
    color: rgba(245, 245, 245, 0.658);
}

header img {
    width: 100px;
    height: auto;
    float: right;
}

footer {
    font-size: 0.8rem;
}