
*{margin: 0; border: border-box;}

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(31, 31, 141);
    max-width: 500px;
    margin: auto;
    border: 2px solid rgb(13, 68, 13);
    padding: 20px;
    box-shadow: 4px 4px 4px  #aada6bce, 6px 6px 6px 0 rgba(0,0,0,0.19);
}

h1 {
    font-size: 1.95rem;
    color: rgba(175, 6, 6, 0.911);
    text-align: center;    
}

h2 {
    font-size: 1.0rem;
    text-align: center;
    color: #000;    
}

h3 {
    font-size: 0.75rem;
}

.scores {
    text-align: center;
    font-size: 1.5rem;
    color: rgba(175, 6, 6, 0.911);    
}

footer {
    
    padding: none;
    text-align: center;
    background-color: rgb(58, 13, 13);
    color: rgba(245, 245, 245, 0.658);
}