
@media (min-width: 768px) {


  .weathersummary {

   
    top: 30px;
    right: 120px;

  }


 div.gallery {
    
    grid-template-columns: 1fr 1fr;
    
  }

 /* .townevent {
    height: 400px;

  }*/

  .blank {

    height: 200px;

  }

  .ssprings {

    width: 45%;
    box-shadow: none;
    padding: 8px;
    border-radius: 5%;
          
    }

  .haven {

    width: 60%;
    box-shadow: none;
    padding: 8px;
    border-radius: 5%;
          
    }
  


  article.townevent img {
  
    width: 50%;
  }

aside {

  height: 250px;

}
aside p, #map{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  
}

aside p {

  margin-top: 25px;

}

#map {

  width: 50%;
  margin-top: 24px;
  margin-left: 50px;

  
}
}

