
@media (min-width: 768px) {


  .weathersummary {

   
    top: 30px;
    right: 120px;

  }


 div.gallery {
    
    grid-template-columns: 1fr 1fr;
    
  }

  .townevent {
    height: 400px;

  }

  .blank {

    height: 200px;

  }

  .ssprings {

    width: 45%;
    box-shadow: none;
    padding: 8px;
    border-radius: 5%;
          
    }
  


  article.townevent img {
  
    width: 50%;
  }

}