



 @media only screen and (min-width: 720px) {

    body {
    
    max-width: 1028px;
    font-size: 15px; 
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #9cc8e9;
    text-align: center;    
    margin: 0 auto;
    /*float: none;*/
    
   } 
  
 
   nav button {

    display: none;

   }
  
    
  nav li  {   

    display: inline; 
    margin: 40px;
    border-bottom: none;
            

  }

   
  /* table styles*/

.fctable {

  margin: auto;  
  display: inline-block;

}

.fcth {
  background-color: darkblue;  
  border: 1px solid black;
  color: #ffffff;

}

.fctd { 
  
  border: 1px solid black;
  font-size: 20px;
  line-height: 25px;

}

.tdicon {
  background-color: white;
  
}

.tdtemp {

  background-color: green;
  font-family: Catamaran;
  color: white;
  border: 1px solid black;

}

.fcpar {

    font-family: Catamaran;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}


aside p {

  display: inline-block;
  margin-top: 80px;
  
  }


div#googleMap {
  float: right;
  right: 80px;
  top: 60px;
  
}
}