

body { 
    
    font-size: 15px; 
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #b0e0e6;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    float: none;
  
}

h1 {
    font-size: 33px;
    line-height: 35px;
    font-weight: bold;
    text-align: right;
    color: #F8F8FF;    
    
}

h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    color: #F8F8FF;
}

header, main, footer {
    margin: 1.0rem auto;
    padding: .5rem; 
    
}

header, footer, footer a {
    text-align: center;
    background-color: #6495ED;
    color: #0000CD;
}

header img {
    height: 97px;
    width: auto;
    float: left;
}

footer {
    font-size: 0.7rem;
}

.motto {
    font-size: 16px;
    line-height: 18px;
    font-family: Calligraffitti;
    color:	#ADFF2F;
    text-align: right

}

ul {
    font-family: Catamaran;
    background-color: #3cb371;
    list-style: none;   
}
    


