body {

    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    display: block;
       
}

thead td {
   
    background-color: #7fb9c2;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border: solid 1px black;

}

table {
   
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 6px 6px 6px #628ca6;

}

table tr {

    background-color: #e7f0ed;   
       
}

table td {

    border: solid 1px rgb(202, 199, 199);
    padding: 6px;
        
}

table tr:nth-child(2n+1) {

    background-color: #e7ffed;  

}

th {  

    background-color:#628ca6;
    color: white;
    border: solid 1px rgb(192, 189, 189);
    padding: 8px;

}

tfoot tr {

    height: 15px;

}

tfoot td {

    background-color: #7fb9c2;
    font-size: 10px;  
    
}

.best {

   background-color: #628ca6; 
   color: white;

}





