/* || general styles */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  body {
    width: 800px;
    margin: 0 auto;
  }
  
  h1, h2, h3 {
    font-family: 'Faster One', cursive;
        
  }
  
  /* header styles */
  
  h1 {
    font-size: 5rem;
    text-align: center;
    color: red;
    border: dotted 2px rgb(44, 44, 192);    
  }
  
  header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: darkgreen;
  }
  
  /* section styles */

  section h1 {
    text-align: center;
    color: darkblue;
    font-size: 3.5rem;
    border: none;

  }

    
  section article {
    
    width: 33%;
    float: left;
    color: darkblue;

  }
  
  section p {
    margin: 5px 0;
    color: black;
    font-size: 12px;

  }
  
  section ul {
    margin-top: 0;
    color: black;
    font-size: 12px;
    


  }
  
  h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
  }

  nav {

    text-align: center;
    
  }