



 @media only screen and (min-width: 768px) {

    body {
    
    max-width: 1024px;
    font-size: 15px; 
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #9cc8e9;
    text-align: center;    
    margin: 0 auto;
    float: none;
    
   } 
}
