



 @media only screen and (min-width: 768px) {

    body {
    
    max-width: 1024px;
    font-size: 15px; 
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #9cc8e9;
    text-align: center;    
    margin: 0 auto;
    float: none;
    
   } 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    
  }
  
  li {
    
    display: inline;
    padding: 20px;
  }

  

  nav {
      height: 30px;
      width: 100%;
      background-color: green;

  }

  li a.active {
    color: #ffffff;
  }
  
  
  
  