



 @media only screen and (min-width: 550px) {

    body {
    
    max-width: 1024px;
    font-size: 15px; 
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #9cc8e9;
    text-align: center;    
    margin: 0 auto;
    float: none;
    
   } 
  
   nav {

    height: 30px;
    width: 100%;
    background-color: rgb(78, 170, 24);

   }
  
  ul {

    list-style-type: none;
    margin: 0;
      
  }
  
  li  {   

    display: inline; 
    padding: 20px;

  }

  li a.active {

    color: #ffffff;

  }
  
  .days{

      height: 30px;
      width: 782px;
      background-color: blue;
      font-family: Catamaran;
      font-size: 26px; 
      color: #FFFFFF;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;       

  }
  .forecast {

      height: 130px;
      width: 800px;
      background-color: #FFFFFF;
      display: block;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;     

  }

  .fiveday {
    
    display: inline;
    font-family: Catamaran;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;

  }
}