
@media screen and (max-width: 500px) {

    body {
    
    width: 100%;
    min-width: 320px;
    font-size: 15px; 
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #9cc8e9;
    text-align: center;    
    margin: 0 auto;
    float: none;
    
   } 
}


header, footer, footer a {
    text-align: center;
    background-color: #0000FF;
    color: #F8F8FF;
    /**width: 100%;
    */
}

.motto {

    font-size: 16px;
    line-height: 30px;
    font-family: Calligraffitti;
    color:	#FFFF00;
    text-align: center;

}


header img {
    
    float: left;
    height: 70px;
        
}

h2 {
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

nav {
    background-color: #1E6C29;
    /* unvisited link */

}  

.herodiv {
    position: relative;
    /**width: 360px;*/
    height: 300px;       
    
}

.heroph {
    
   width: 100%
    
    
}

.weathersummary {
    position: absolute;
    top: 22px;
    left: 25px;
    border: 1px solid #FFFFFF;
    padding: .5rem;
    font-family: Catamaran;
    color: #FFFFFF; 
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

/* unvisited link */
a:link {
    color: #ffffff;
  }
  
  /* visited link */
  a:visited {
    color: orangered;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }


footer {
    font-size: 0.6rem;
}
