* {margin: 0; border: border-box;}
    
body{
    font-size: 15px; 
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #9cc8e9;
    text-align: center;    
    margin: 0 auto;
    float: none;
    max-width: 360px;
  
}


h1 {
    font-size: 28px;
    line-height: 30px;
    font-weight: bold;
    text-align: right;
    color: #FFFFFF;   
    
}



h2 {
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

h3 {font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;}

nav {
    background-color: #0000FF;
}  

header, main, footer {
    margin: 0rem auto;
    padding:.6rem; 
    
    
}

header, footer, footer a {
    text-align: center;
    background-color: #0000FF;
    color: #F8F8FF;
    /**width: 100%;
    */
}

header img {
    height: 90px;
    width: auto;
    float: left;
    
}

footer {
    font-size: 0.6rem;
}

.motto {
    font-size: 16px;
    line-height: 18px;
    font-family: Calligraffitti;
    color:	#FFFF00;
    text-align: right

}

ul {
    font-family: Catamaran;
    display: inline;
    list-style: none;   
}

.herodiv {
    position: relative;
    width: 360px;
    height: 300px;
    
}


.heroph {
    margin: 10px auto;
    width: 100%;
    height: auto;
    
}

.weathersummary {
    position: absolute;
    top: 50px;
    left: 25px;
    border: 1px solid #FFFFFF;
    padding: .5rem;
    font-family: Catamaran;
    color: #FFFFFF; 
    size: 14px;
    line-height: 16px;
    text-align: left;
}