
 @media only screen and (min-width: 310px) {

    body {   
        
    font-size: 15px; 
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #9cc8e9;
    text-align: center;    
            
   } 

 header {

    text-align: center;
    background-color: #0000FF;
    color: #F8F8FF;
    height: 85px;
    width: 100%;

 }

footer, footer a {

    text-align: center;
    background-color: #0000FF;
    color: #F8F8FF;
    height: 30px;
    width: 100%;
    
}

h1 {

    font-size: 28px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;   
    
}

.motto {

    font-size: 16px;
    line-height: 30px;
    font-family: Calligraffitti;
    color:	#FFFF00;
    text-align: center;

}

header img {
    height:  80px;
    float: left; 
        
}

h2 {

    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

h3 {  

    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;

}

.herodiv {

    position: relative;
    /**width: 360px;*/
    height: 400px;       
    
}

.heroph img {
    
      width: 100%;
      height: auto;
      
}

.weathersummary {

    position: absolute;
    top: 22px;
    left: 25px;
    border: 1px solid #FFFFFF;
    padding: .5rem;
    font-family: Catamaran;
    color: #FFFFFF; 
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

footer {

    font-size: 0.6rem;
}

.townname {

    font-family: Catamaran;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

nav {

    height: 155px;
    width: 100%;
    background-color: rgb(78, 170, 24);

}

ul {

    list-style-type: none;
    margin: 0;
       
  }
  
  li a.active {

    color: #ffffff;

  }
      
  li  {

    display: block;
    width: 100%;  
       
  }

  .days {

      display: none;
  }

  .forecast {

    display: none;
  }

  .fiveday {

      display: none;

  }

 }

  .atitle {

      color: #000000;
      background-color: #FFFFFF;
      margin: none;
      padding: none;
      text-align: center;
      font-size: 24px;
      line-height: 28px;
      
  }

  .appic img {

      width: 100%;
      height: auto;
      margin: none;
  }

  article {

      color: #000000;
      background-color: #FFFFFF;
      text-align: left;
      column-width: 260px;
      padding: 10px;
      margin: none;
  }

  aside {

    height: 150px;
    width: 100%;
    background-color: rgb(78, 170, 24);
    color: #FFFFFF;
    display: inline-block;
    font-family: Catamaran;
    font-size: 16px;
    line-height: 18px;
    
  }

  .map-responsive {

    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}

 .map-responsive iframe {

    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    
}
  
    
  


  
