



 @media only screen and (min-width: 950px) {

    body {
    
    max-width: 1028px;
    font-size: 15px; 
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #9cc8e9;
    text-align: center;    
    margin: 0 auto;
        
   } 
   
   nav button {

    display: none;

   }

   nav ul.hide {
    display: flex; 
    flex-direction: row;
   }
      
  nav ul  {   

    display: flex; 
    flex-direction: row;
    /*margin: 40px;
    border-bottom: none;*/          

  }

  nav li {

    border-top: none;

  }

 .smview {

   display: block;

  }

 .fctable {

  margin: auto;  
  display: inline-block;

 } 

.fcth {

  background-color: darkblue;  
  border: 1px solid black;
  color: #ffffff;

}

.fctd { 
  
  border: 1px solid black;
  font-size: 20px;
  line-height: 25px;

}

.tdicon {

  background-color: white;
  
}

.tdtemp {

  background-color: green;
  font-family: Catamaran;
  color: white;
  border: 1px solid black;

}

.fcpar {

    font-family: Catamaran;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

aside p {

  display: inline-block;
  margin-top: 100px;
  margin-left: 70px;
      
  }

aside img {

  float: right;
  margin-right: 80px;
  margin-top: 60px;
    
}

div.gallery {
    
  grid-template-columns: 1fr 1fr 1fr;  
  
}
 
figure:hover {

  box-shadow: 4px 4px 4px cornflowerblue;  

}

figure {

  border: 1px solid black;
  padding-top: 20px;
  background-color: white;

}

figure img {

  border: none;  

}
}
