@media (min-width: 1024px) {


header {
    height: 175px;
}

.logo {
    font-size: 4.5rem;
}

nav {
    font-size: 24px;
}

nav button {
    display: none;
   }

   nav ul.hide {
    display: flex; 
    flex-direction: row;
   }
      
  nav ul  {
    display: flex; 
    flex-direction: row; 
  }

  nav li {
    border-top: none;  
  }

  
 .smview {
   display: block;
   margin-bottom: 5px;
   font-family: Catamaran;
  }
}
