*{margin: 0; box-sizing: border-box;}

body {
    text-align: center;
    font-family: Neuton;
    font-size: 15px;        
}

a, li, figure img:hover {
    -webkit-transition-duration: 0.35s; 
    transition-duration: 0.35s;   
}

main { 
    margin: 0 auto;      
    width: 100%;    
    background-color: #eaeaea;        
}

.suite {
    display: block;
    background-image: url("/mettkillian.github.io/final-project/images/bed500.jpg");
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #231f20;   
}

.rescall {
    position: absolute;
    top: 190px;
    right: 45px;
    padding: 10px;
    color: #eaeaea;
    border: 1px solid #6c9696;
    background: radial-gradient(#6c9696, #263f3f);  
    border-radius: 6%;
}

.rescall p {
    padding-bottom: 14px;
}

.book {   
    padding: 6px;  
    background: #000;
    color: #fff;
    border-radius: 5%;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;  
}

.book:hover {
    opacity: .5;
    background-color: #eaeaea;
    color: #000;
    box-shadow: 0 4px 6px 0 #e8e8e8, 0 6px 10px 0 rgba(0,0,0,0.19);
}

legend {
    font-size: 24px;
    font-weight: bold;
    color: #231f20
}

.hmtemple h1 {
    font-size: 2.5rem;
    margin: 0;
    padding-top: 20px;
}

.hmtemple h2 {
    padding-bottom: 10px;
}

.blank {
    background-color: #eaeaea;  
}

.bl  {
    font-size: 40px;
    margin-top: 0;
    padding-top: 40px;
}
.paysonsec {  
    width: 100%;
    margin: 0 auto;
    background-color: transparent;  
    display: grid;
    grid-template-columns: 1fr;    
    border: 1px dotted #231f20 
}

.payson  {
    width: 100%;
    height: 100%;
    border: none;
    display: block;           
}

.paysoninfo {   
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    font-family: Karma;
    font-size: 18px; 
    padding: 15px 10px;
    text-align: left;    
}  

.back {   
    padding: 6px;  
    background: #000;
    color: #fff;
    border-radius: 5%;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;  
}

.land {
    display: block;
    background-image: url("/mettkillian.github.io/final-project/images/landscape500.jpg");
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #231f20;
}

.services {
    display: block;
    background-image: url("/mettkillian.github.io/final-project/images/table500.jpg");
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #231f20;
}

.reserve {
    display: block;
    background-image: url("/mettkillian.github.io/final-project/images/wedding500.jpg");
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #231f20;
}

.bridal {
    display: block;
    background-image: url("/mettkillian.github.io/final-project/images/bride500.jpg");
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #231f20;
}

.paysonext {
    display: block;
    background-image: url("/mettkillian.github.io/final-project/images/paysonext500.jpg");
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #231f20;
}

.oaklandext {
    display: block;
    background-image: url("/mettkillian.github.io/final-project/images/oakland500.jpg");
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #231f20;
}

.cityext {
    display: block;
    background-image: url("/mettkillian.github.io/final-project/images/citycenter500.jpg");
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #231f20;
}

.ogdext {
    display: block;
    background-image: url("/mettkillian.github.io/final-project/images/ogden500.jpg");
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #231f20;
}
  
.thanks {
    height: 300px;
    display: block;
    margin: 0;
    padding: 100px;
}

header {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 100%;
    background-color: #231f20;
    color: #ad974f;
    text-shadow: 2px 1px #e8e8e8;
    opacity: .92;
    top: 290px;
    border-top: 2px  solid #6c9696;
    border-bottom: 2px  solid #6c9696;         
}

header img {            
    opacity: .85;
    margin: 5%;
    height: 110px;
    border: 3px solid #ad974f;
    border-radius: 8%; 
    box-shadow: 4px 4px 4px  #e8e8e8, 6px 6px 6px 0 rgba(0,0,0,0.19);
}

.logo {    
    font-family: Dancing Script;    
    font-size: 2rem;
    margin-right: 5%;
}

nav {  
    position: absolute;
    width: 100%;
    top: 20px;
    background-color: #231f20;
    opacity: .8;    
    border-top: 1px solid #6c9696; 
    border-bottom: 1px solid #6c9696;  
    font-style: italic;
    font-size: 18px;    
}

button {
    color: #eaeaea;
    background: transparent;    
}

nav ul.hide {
    display: none;
}

nav ul  {    
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;           
}

nav li {
      border-top: 1px solid #000;
      width: 100%;
      padding: 0;            
}

nav li a {
    display: block;
    padding: 3px;
    text-decoration: none;
    color: #eaeaea;
}

nav li:hover {    
    color: #eaeaea;
    background-color: #263f3f;
    box-shadow: 0 3px 3px 0 #e8e8e8, 0 6px 8px 0 rgba(0,0,0,0.19);
}

li.active {
    background-color:#6c9696;
    color: #eaeaea;
}

.sep {
    width: 100%;
    height: 2px;
    background-color: #231f20;
    opacity: .99;
}

.loc {
    font-size: 2.5rem;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 12px;    
}

div.gallery {
    margin: 0 auto;
    width: 75%;    
    display: grid;   
    grid-template-columns: 1fr;
    padding-top: 5px;
    padding-bottom: 0;               
}
  
div.amenity {
    margin: 0 auto;
    width: 60%;    
    display: grid;
    grid-gap: 20px;   
    grid-template-columns: 1fr;
    padding-top: 20px;
    padding-bottom: 40px;                
}

figure img {
     width: 100%;
     display: block; 
     border: 1px solid #000000;    
}

figure img:hover {
    opacity: .5;
}

.caption {
     background-color: #eaeaea;     
     color: #231f20;
     line-height: 20px;     
}

footer {
    width: 100%;
    height: 50px;
    background-color: #231f20;    
    border: 1px solid black;    
    color: #eaeaea;
}

footer p {
    padding: 12px;
}

.footlink {
    color: #eaeaea;
}

.footlink:hover {
    opacity: .5;
}

textarea {
    height: 225px;
    width: 100%;            
}

fieldset {
    display: flex;
    flex-direction: column;   
    width: 100%;   
    background-color: #bcd1d1;                  
}

input, datalist, select {
    padding: 5px;
    margin: 5px;
}

label {
    margin: 5px;
}

.smbutton {
     opacity: .92;
     padding: 5px 10px;
     background-color: #231f20;
     color: #eaeaea;
     text-decoration: none;
     margin-bottom: 30px;
     position: relative;
     margin-right: 80%;              
}

.smbutton:hover {    
    background-color: #6c9696;
    color: #231f20;    
}

form {
    text-align: left;
    width: 100%;
    margin: 0 auto;    
    color: #231f20;
    padding-top: 10px;
    padding-bottom: 20px;        
}

#map {    
    height: 250px;
    width: 90%;
    margin: 0 auto;
    text-align: justify;    
    padding-top: 20px;        
}
  
.contpage {
      background-color: #231f20;
      width: 100%;
      opacity: .95;      
      margin: 0 auto;      
}

.container {
      width: 85vw;           
      background: transparent;
      color: #eaeaea;      
      margin: 0 auto;
      padding-top: 10px;      
}

.container h2 {
      font-family: Dancing Script;
      font-size: calc(22px + 1.25vw);
      color: #8e793e;
      text-shadow: 1px 1px #e8e8e8;
}

.container p {
    font-size: calc(12px + 1.75vw);
}

.tempinfo {           
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;           
} 

.fa {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 3px;
    border-radius: 50px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;  
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
 
.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-phone, .fa-envelope {
    font-size: calc(9px + 1.25vw);  
    padding-right: 5vw;
    margin: 0;
}
.weathersummary {
    margin: 0 auto; 
    border: 1px solid #FFFFFF;
    padding: 20px;
    font-family: Karma;
    font-size: 12px;
    color: white;  
    line-height: 16px;
    text-align: left;
    width: 350px;
    background: #263f3f;
    border-radius: 8px;
}

.weathersummary p {
    padding: 2px 20px ;
}

.weathersummary h2{
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.jsdata {
    padding: 20px;
    width: 350px;
    margin: 0 auto;
    border: 1px dotted #231f20;
    border-radius: 8px;
}

.jsdata li {
    text-align: left;
    padding: 0px 10px 0px;
}

.jsdata h2, .jsdata h3 {
    background-color: #263f3f;
    width: 100%;
    color: #eaeaea;
    opacity: .87;  
    margin-top: 10px;
    padding: 0;
}

.refdata {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    border: 1px dotted #231f20;
    border-radius: 8px;
    text-align: left;
}

.refdata h2{
    font-size: 18px;
    text-align: center;
}
